
@mixin my-dark-box{
	width:30%;
	// put background in main.scss file
	opacity: 0.8;
	padding: 10px;
	width: 50%;
	margin-right: 25%;
	margin-left: auto;
	border-radius: 10px;
	margin-top: 10%;
}

@mixin center-and-align{
	text-align: center;
	margin: 0 auto;
}

@mixin warning{
	background-color: green;
	color: #fff;
	// sass bulit in functiom
	&:hover{
		background-color: lighten(green,10%);
	}
}
// MENU PAGE
@mixin menu-top-navwrap{
	width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


@mixin menu-top-nav{
	width: 186px;
    height: 201px;
    position: absolute;
    bottom: 3%;
    left: 0;
    float: left;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    text-decoration: none;
}
@mixin orderNow{
	display: block;
    width: 90%;
    height: 67px;
    color:white;
  background-color: lighten(green,10%); 
  text-decoration: none;
  position: absolute;
  top:-40%;
  right: 2%;
  margin-left: 20%;
  padding-top: 25%;


}

// QUERIES
@mixin small-medium-screens(){
	@media only screen and (max-width: 768px){
		@content;
		// specify styles what we want for small
		//size with content directive
	}
}

@mixin medium-large-screens(){
	@media (min-width: 768px) and (max-width: 1200px){
	@content;
 }
}
@mixin specificSize1-screens(){
	@media (min-width: 414px) and (max-width: 1200px){

		@content
	}

}
@mixin specificSize2-screens(){
	@media (min-width: 769px) and (max-width: 1200px){

		@content
	}

}

